header .navigation .navigation-items a[href="aboutus.html"] {
    color:#00ff88;
}




/* Style the Image Used to Trigger the Modal */
#myImg1,#myImg2,#myImg3,#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s ease;
  }
  

#myImg1:hover{opacity: 0.7;}
#myImg2:hover{opacity: 0.7;}
#myImg3:hover{opacity: 0.7;}
#myImg4:hover{opacity: 0.7;}
  




#text{
    font-family: 'Fredoka One', cursive;
    position: absolute;
    color: #252839;
    z-index: 2;
    font-size: 5em;
    width: 50%;
    transform:translateX(51%);
    margin-top: 12%;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3 vw #252839;
    letter-spacing: 0.2em;
}
#text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height:100%;
    color: #00ff88;
    -webkit-text-stroke: 0.3px #252839;
    border-right: 4px solid #01fe87;
    overflow: hidden;
    animation: animate-text 5s linear infinite;
}
@keyframes animate-text{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

body{
    background: #ebeff4;
    background-image:url('background\ images/aboutus.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.blur-background {
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
   }
p {
    text-align: center;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 50px 0;
    color: white;
   }
ul {
    list-style: none;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
li {
    margin: 20px;
    padding: 20px;
    border: 2px solid #19c363;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px #0d110d;
    transition: all 0.3s ease-in-out;
    background-color:#39763a;
   }
li:hover {
    transform: translateY(-10px);
    border-color: #1e8c69;
    box-shadow: 0 5px 15px #27532b;
   }
li img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   }
h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: white;
   }
h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: black;
    color: white;
   }

.details{
    border: 1px solid black;
   border-radius: 10px;
    background-color: rgb(22, 52, 16);
}   

#edit{
    text-align: center;
    color: white;
}

#editbutton{
    background-color: white;
}