header .navigation .navigation-items a[href="comments.html"] {
    color: #00ff88;
}
.radio-group {
    display: inline;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    transform: scale(1.5);
  }
  
.radio-row {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    gap: 10px;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rating-container label {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 251, 0);
  }
  
  .rating-container input[type="radio"] {
    display: none;
  }
  
  .rating-container label:hover,
  .rating-container label:hover ~ label {
    color: #000;
    cursor: pointer;
  }
  
  .rating-container input[type="radio"]:checked ~ label {
    color: black;
  }
  
  .radios {
    transform: scale(0.5);
    margin-right: 10px;
    }

  .button {
    background-color: #01fe87;
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display : block;
    margin: 0 auto;
    }

    .div-area{
      color:#000;
      font-size:20px;
      text-align: center;
      border : 2px solid; 
      width: 50%;
      margin:auto;
      align-items: center;
      border-radius: 30px;
      transition: transform 0.8s ease;
    }
    .div-area:hover{
      transform: scale(120%);
      background-color:rgb(47, 58, 49) ;
      color:#fff;
    }

    .body{
      background-image:url("../images/bgComment2.jpg");
      background-size: cover;
    }

    .image{
      width: 100%; 
      height: 60vh;
      position: absolute;
    }

    #text{
      font-family: 'Fredoka One', cursive;
      position:absolute;
      color: #252839;
      z-index: 2;
      font-size: 5em;
      width: 52%;
      transform:translateX(51%);
      margin-top: 12%;
      text-transform: uppercase;
      -webkit-text-stroke: 0.3 vw #252839;
      letter-spacing: 0.2em;
  }

  #text::before{
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
      color: #00ff88;
      -webkit-text-stroke: 0.3px #252839;
      border-right: 4px solid #01fe87;
      overflow: hidden;
      animation: animate-text 5s linear infinite;
  }

  #warning-message {
    display: none;
    margin-top: 10px;
    padding: 5px;
    background-color: #ff9999;
    color: #f00;
  }

  @keyframes animate-text{
      0%,10%,100%{
          width: 0;
      }
      70%,90%{
          width: 100%;
      }
  }