body{
    background-color: #ebecf0;
    background-position: center;
    background-size: cover;
}

header .navigation .navigation-items a[href="galllery.html"] {
    color: #01fe87;
}
#bgima{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    opacity: 0.3;
    size: cover;
    margin-top: 0%;
    
}
#mainone{
    position: relative;
    margin-top: 0.1%;
    overflow: hidden;
    z-index:10;
    size: cover;
}
@keyframes bg {
    0%{
        transform: scale(100%);
    }
    75%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}
#text{
    background: rgba(163, 168, 105, 0.6);
    font-family: "Fredoka One", cursive;
    position: absolute;
    color: #17045e;
    z-index: 20;
    font-size: 2.3em;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transform:translateX(20%);
    margin-top: 3%;
    text-transform: uppercase;
    -webkit-text-stroke: 1 vw #000;
    letter-spacing: 0.2em;
}
.colorchange {
	text-align:right;
	font-size:20px;
	padding:6px;
   
	
}

.colorselection {
	display:inline;
	padding:4px;
    
}

#backgroundcolor  {
	padding:5px;
	background-color:#eee;
	border: solid,1px;
	border-radius: 10px;
}

.colorchange label {
	color:black;
}


.fontSize{
    width: 150px;
    left: 1325px;
    top: 50px;
    position: absolute;
    padding: 20px;
}

#fontMaxBtn{

    background-color: rgb(28, 131, 199);
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    left: 1450px;
    margin-top: 6.5%;
}

#fontMinBtn{

    background-color: rgb(28, 131, 199);
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    margin-top: 6.5%;
    left: 1480px;
}

.change{
    display:flex;
}

.imagegallerytitle{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerhr{
    width: 80%;
    transform: translateX(10%);
    height: 5px;
    background-color: #000;
       
}
.mainImageDiv {
	z-index: -1;
	background-color: white;
	width: 100%; 
	height: 450px;
	position: relative;
	border: solid 4px #C0C0C0;
}

.mainImage {
	width: 100%; 
	height: 100%;
}

.desClass {
	text-align:center;
	border: solid 4px #C0C0C0;
	height: 450px;
}

.desTopic {
	font-family: “Arial”, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;	
	
}

.desQuote {
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: Apple Chancery, cursive;
	font-size: 30px;
	padding:5px;
	
}

#desPara {
	padding: 20px;
	font-size: 15px;
    color:black;
}
.row{
	margin-top:10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
}
.imagegallery {
	background-color: #ccc;
}

.imagelist {
	margin-bottom: 20px;
	float:left;
	height: 230px;
	position:relative;
	width: 350px;
    
    margin-left: 1.5%;
   
}

.imgClass {
	height: 100%;
	width: 100%;
}
	
.imgClass:hover {
	opacity: 0.8;

}

.description {
	
	top:0px;
	width:100%;
	color:black;
	position:absolute;
	background-color: #EBFBFF;
	opacity: 0.5;
	text-align: center;
}
#buttonEasy {
	border-radius: 10px;
	padding:2px;
    margin-top: 25%;
}
.button {
    background-color: #01fe87;
    border: none;
    color: #464242;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display : block;
    margin: 0 auto;
    border-radius: 10px ;
}

