body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    margin:0;
}
.blur {
    position: absolute;
    top: 70%;
    left: 20%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      filter: blur(10px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
h1{
    font-size:80px;
    margin-top:5px;
}
h2{
    font-size:30px;
}

.back_video{
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
}
@media (min-aspect-ratio:16/9) {
    .back_video {
        width: 110%;
        height: auto;
    }
}
@media (min-aspect-ratio:16/9) {
    .back_video {
        width: auto;
        height: 110%;
    }
}
.loadbox {
    position:absolute;
    top:90%;
    left:44%;
    width:200px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #01fe87;
    z-index:1;
}
.loadline{
    height:20px;
    width:200px;
    border-radius:20px;
    background:#01fe87;
    animation: load 6s forwards cubic-bezier(0,0,0,0)   
}
@keyframes load{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}